<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.jil.firststep">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.HOME" />
            </intent-filter>
        </activity>
        <activity android:name=".activity_communicate" />
        <activity
            android:name=".activity_manage"
            android:label="Manage Step"
            android:theme="@style/AppTheme.BrownActionBar" >
            <meta-data android:name="android.support.PARENT_ACTIVITY" android:value=".MainActivity"/>
        </activity>
        <activity
            android:name=".Login_Activity"
            android:label="Login"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AddChild_Activity"
            android:label="New Child"
            android:theme="@style/AppTheme.GreenActionBar" >
            <meta-data android:name="android.support.PARENT_ACTIVITY" android:value=".MainActivity"/>
        </activity>
        <activity
            android:name=".More_Info"
            android:label="Add More Information"
            android:theme="@style/AppTheme.BluishActionBar">
            <meta-data android:name="android.support.PARENT_ACTIVITY" android:value=".AddChild_Activity"/>
        </activity>
        <activity android:name=".ChildInfoFull">
            <meta-data android:name="android.support.PARENT_ACTIVITY" android:value=".activity_manage"/>
        </activity>
    </application>

</manifest>
